# app.yaml.example
runtime: nodejs20
env: standard

handlers:
  - url: /.*
    script: auto

env_variables:
  APP_ID: "${APP_ID}"
  AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
  AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
  AWS_REGION: "${AWS_REGION}"
  AWS_S3_BUCKET_NAME: "${AWS_S3_BUCKET_NAME}"
  AWS_S3_IMAGE_BUCKET_NAME: "${AWS_S3_IMAGE_BUCKET_NAME}"

  BACKEND_URL: "${BACKEND_URL}"
  FRONTEND_URL: "${FRONTEND_URL}"
  CLIENT_ID: "${CLIENT_ID}"
  CLIENT_SECRET: "${CLIENT_SECRET}"

  JWT_SECRET: "${JWT_SECRET}"
  JWT_ACCESS_EXPIRY_TIME: "${JWT_ACCESS_EXPIRY_TIME}"
  JWT_REFRESH_EXPIRY_TIME: "${JWT_REFRESH_EXPIRY_TIME}"

  MONGO_DB_URI: "${MONGO_DB_URI}"

  NODE_ENV: "${NODE_ENV}"
  PORT: "${PORT}"

  OTP_COOLDOWN_PERIOD: "${OTP_COOLDOWN_PERIOD}"
  OTP_RESEND_LIMIT: "${OTP_RESEND_LIMIT}"

  REDIS_URL: "${REDIS_URL}"
  RESAVE: "${RESAVE}"
  ROLLING: "${ROLLING}"
  SAVE_UNINITIALIZED: "${SAVE_UNINITIALIZED}"
  SESSION_SECRET: "${SESSION_SECRET}"

  resend: "${RESEND_KEY}"
  RESEND_SIGNING_SECRET: "${RESEND_SIGNING_SECRET}"

  VITE_API_URL: "${VITE_API_URL}"
  VITE_GOOGLE_MAPS_API_KEY: "${VITE_GOOGLE_MAPS_API_KEY}"
  GOOGLE_GEMINI_KEY: "${GOOGLE_GEMINI_KEY}"

  VALKEY: "${VALKEY}"
  VALKEY_HOST: "${VALKEY_HOST}"
  VALKEY_PORT: "${VALKEY_PORT}"
  VALKEY_USERNAME: "${VALKEY_USERNAME}"
  VALKEY_PASSWORD: "${VALKEY_PASSWORD}"

  VALKEY2: "${VALKEY2}"

  NEW_AZURE_CONECTION_STRING: "${NEW_AZURE_CONECTION_STRING}"
  NEW_AZURE_REDISHOST: "${NEW_AZURE_REDISHOST}"
  NEW_AZURE_REDISPORT: "${NEW_AZURE_REDISPORT}"
  NEW_AZURE_REDISPASSWORD: "${NEW_AZURE_REDISPASSWORD}"

  KAFKA_BROKER: "${KAFKA_BROKER}"
  SAS_USERNAME: "${SAS_USERNAME}"
  SAS_PASSWORD: "${SAS_PASSWORD}"
