@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark body {
  /* background-color: #80a1cd; */
  background-color: #151515e3;
  @apply transition-colors duration-1000 ease-in-out;
}

body {
  background-color: var(--var-bg-primary-color);
  @apply transition-colors duration-1000 ease-in-out;
}
:root {
  
  --var-bg-sidebar-dark: hsl(214, 71%, 35%);
  --var-bg-sidebar: hsl(214, 89%, 79%);

  --var-bg-navbar-dark: #9bc4f9;
  --var-bg-navbar: #9bc4f9;

  /* --var-bg-sidebar-url-dark: url(https://arc.net/noise-light.png) #383838;
  --var-bg-sidebar-url-light: url(https://arc.net/noise-light.png) #456378;

  --var-bg-navbar-url-dark: url(https://arc.net/noise-light.png) #383838;
  --var-bg-navbar-url-light: url(https://arc.net/noise-light.png) #456378; */

  --var-bg-primary-color: #ebf0ecdb;
  --var-bg-secondary-color: #dddddd;

  --var-bg-primary-color-dark: #121212;
--var-bg-secondary-color-dark: #1f1f2c;


--var-text-primary: #121212;
--var-text-primary-dark: #9d9d9d;


--var-button-bg: #494949;
--var-button-bg-dark: #121212;
--var-button-border: #a9a9a9;
--var-button-border-dark: #9b9b9b;
--var-button-text: #ffffff;
--var-button-text-dark: #ffffff;


  /* end */
  

  --var-btn-primary: #121212;
  --var-btn-secondary: #535353;
  --var-text-primary: #565656;

  --var-bg-dark: #1b1b1b;
}
/* .dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
} */

/* .navbar-custom-css {
  background-color: hsl(192, 71%, 43%) !important;
} */

/* .sidebar-custom-css {
  background-color: hsl(192, 71%, 30%) !important;
}

.dark .navbar-custom-css {
  background-color: hsl(0, 0%, 15%) !important;
}

.dark .sidebar-custom-css {
  background-color: hsl(0, 0%, 20%) !important;
}

.sidebar-custom-css,
.navbar-custom-css {
  background: url(https://arc.net/noise-light.png) #456378;
} */

::-webkit-file-upload-button,
::file-selector-button {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* 
input::placeholder {
  color: rgb(46, 46, 46);
}
input,
label {
  color: black;
}
.dark input,
label {
  color: white;
}
.dark input::placeholder {
  color: rgb(160, 160, 160);
} */


.btn{
  width: fit-content;
  padding: 0.5rem 0.6rem;
  margin: 0.1%;
  border-radius: 0.6rem;
  background-color: var(--var-button-bg);
  color: var(--var-button-text);
  border: 1px solid var(--var-button-border);
}

.btn-dark{
  width: fit-content;
  padding: 0.5rem 0.6rem;
  margin: 0.1%;
  border-radius: 0.6rem;
  background-color: var(--var-button-bg-dark);
  color: var(--var-button-text-dark);
  border: 1px solid var(--var-button-border-dark);
}



/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #333333 !important;

}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
