@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark body {
  background-color: #121212f5;
  @apply transition-colors duration-1000 ease-in-out;
}

body {
  background-color: #dbd2d2f5;
  @apply transition-colors duration-1000 ease-in-out;
}
:root {
  
  --var-bg-sidebar-dark: #383838;
  --var-bg-sidebar: #456378;

  --var-bg-navbar-dark: #383838;
  --var-bg-navbar: #456378;

  /* --var-bg-sidebar-url-dark: url(https://arc.net/noise-light.png) #383838;
  --var-bg-sidebar-url-light: url(https://arc.net/noise-light.png) #456378;

  --var-bg-navbar-url-dark: url(https://arc.net/noise-light.png) #383838;
  --var-bg-navbar-url-light: url(https://arc.net/noise-light.png) #456378; */

  --var-bg-primary-color: #3b90eb;
  --var-bg-secondary-color: #dddddd;

  --var-bg-primary-color-dark: #121212;
--var-bg-secondary-color-dark: #1f1f2c;


--var-text-primary: #121212;
--var-text-primary-dark: #9d9d9d;


  /* end */
  

  --var-btn-primary: #121212;
  --var-btn-secondary: #535353;
  --var-text-primary: #565656;

  --var-bg-dark: #1b1b1b;
}
/* .dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
} */

/* .navbar-custom-css {
  background-color: hsl(192, 71%, 43%) !important;
} */

/* .sidebar-custom-css {
  background-color: hsl(192, 71%, 30%) !important;
}

.dark .navbar-custom-css {
  background-color: hsl(0, 0%, 15%) !important;
}

.dark .sidebar-custom-css {
  background-color: hsl(0, 0%, 20%) !important;
}

.sidebar-custom-css,
.navbar-custom-css {
  background: url(https://arc.net/noise-light.png) #456378;
} */

::-webkit-file-upload-button,
::file-selector-button {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* 
input::placeholder {
  color: rgb(46, 46, 46);
}
input,
label {
  color: black;
}
.dark input,
label {
  color: white;
}
.dark input::placeholder {
  color: rgb(160, 160, 160);
} */


